[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.8.0"
tenacity = "*"

[dev-packages]
pytest = "*"
aioresponses = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
install = "*"
ipython = "*"
pytest-randomly = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
