[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.9.5"
tenacity = "*"
pip = "*"

[dev-packages]
pytest = "*"
aioresponses = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
ipython = "*"
pytest-randomly = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.10"
